/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    withName: BS_FETCH_BIOSAMPLE {
        container = 'jdj0303/bs-cli:1.5.3'
        publishDir = [
            path: { "$params.outdir/$params.run_name/reads" },
            mode: 'copy',
            pattern: '*.fastq.gz'
        ]
    }
    withName: BS_FETCH_DATASET {
        container = 'jdj0303/bs-cli:1.5.3'
        publishDir = [
            path: { "$params.outdir/$params.run_name/reads" },
            mode: 'copy',
            pattern: '*.fastq.gz'
        ]
    }
    withName: BS_FETCH_FILE_ID {
        container = 'jdj0303/bs-cli:1.5.3'
        publishDir = [
            path: { "$params.outdir/$params.run_name/reads" },
            mode: 'copy',
            pattern: '*.fastq.gz'
        ]
    }
    withName: PREPARE_GENERIC {
        container = "ubuntu:jammy"
        publishDir = [
            path: { "$params.outdir/$params.run_name" },
            mode: params.publish_dir_mode
        ]
    }
    withName: BS_INSPECT_BIOSAMPLE {
        container = 'jdj0303/bs-cli:1.5.3'
        publishDir = [
            path: { "$params.outdir/$params.run_name/bs_inspect/" },
            mode: params.publish_dir_mode,
            pattern: '*.csv'

        ]
    }
    withName: COMBINE_INSPECTION {
        container = "ubuntu:jammy"
        publishDir = [
            path: { "$params.outdir/$params.run_name/bs_inspect/" },
            mode: params.publish_dir_mode,
            pattern: '*.csv'
        ]
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/$params.run_name/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}
